@charset "UTF-8";

/* ABOUT */
.profile .inner {
    padding-bottom: 0;
}
.profile h2 {
    font-size: 70px;
}
.profile p {
    margin-top: 50px;
    width: 50%;
    margin-left: auto;
    word-break: break-word;
    color: #b8b8b8;
}
.profile p + p {
    margin-top: 20px;
}
.profile p em {
    font-weight: 700;
    color: #f7f7f7;
}
.profile-visual {
    overflow: hidden;
    height: 600px;
    margin-top: 60px;
    border-radius: 20px;
}
.profile-visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-cont .inner {
    display: flex;
    align-items: baseline;
}
.about-cont .inner > * {
    width: 50%;
}
.about-cont div + div {
    margin-top: 40px;
}
.about-cont h3 {
    font-weight: 700;
}
.about-cont p {
    color: #b8b8b8;
}
.about-cont span {
    font-size: 14px;
}